In [182]:
#coding=utf-8
import urllib
import json
import csv
from StringIO import StringIO

import sys
reload(sys)
sys.setdefaultencoding('utf-8')

def getData(url):
    html = '{"data":' + urllib.urlopen(url).read()[28:]
    f_data = json.load(StringIO(html))
    if f_data["data"]!= "":
        return f_data["data"]
def getDataList(n):
    items = []
    for i in range(1,n+1):
        item = []
        url = 'http://datainterface.eastmoney.com/EM_DataCenter/JS.aspx?type=NS&sty=NSDXSYL&st=16&sr=-1&p='+str(i)+'&ps=50&js=var%20ZlepXEXm={pages:(pc),data:[(x)]}&stat=1&rt=49605530'
        f_d = getData(url)
        for j in range(f_d.__len__()):
            item.append(f_d[j].split(','))
        items.extend(item)
    return items

if __name__=='__main__':
    title = ['stockcode','stockname','ipo_price','last_price',
            'ws_zql','ws_sgs','ws_sgh','ws_rgbs',
            'wx_zql','wx_sgs','wx_sgh','wx_rgbs',
            'zfx_num','open_yj','first_pcg','daxin_syl','ipo_date','bk']
    
    filename = 'res.csv'
    csvFile = file(filename,'wb')
    writer = csv.writer(csvFile)
    writer.writerow(title)
    
    f_d = getDataList(50)
    
    for f in f_d:
        f[0]='A'+str(f[0])
        f[1]=f[1].encode('gbk','ignore')
        writer.writerow(f)
        
    csvFile.close()
    print 'finished'

In [179]:
#coding=utf-8
from StringIO import StringIO
import json
import csv
import codecs
import cStringIO
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

def getData(url):
    html = '{"data":' + urllib.urlopen(url).read()[28:]
    f_data = json.load(StringIO(html))
    if f_data["data"]!= "":
        return f_data["data"]
url = 'http://datainterface.eastmoney.com/EM_DataCenter/JS.aspx?type=NS&sty=NSDXSYL&st=16&sr=-1&p=2&ps=50&js=var%20ZlepXEXm={pages:(pc),data:[(x)]}&stat=1&rt=49605530'
f_d = getData(url)
print f_d[0]
f=f_d[0].split(',')

filename = 'saaas.csv'
csvFile = file(filename,'wb')
writer = csv.writer(csvFile)
writer.writerow([s.decode('utf-8').encode('gbk','ignore') for s in f])
#writer.writerow([v.encode('utf-8') if isinstance(v,str) else v for v in f])
#writer.writerow([unicode(v).encode('utf-8') if isinstance(v,str) else v for v in f])
csvFile.close()

In [ ]:
u = u'\u51ef\u4f17\u80a1\u4efd'
type(u)

In [18]:
import tushare as ts
print ts.__version__
#df=ts.get_today_ticks('600699')
df = ts.get_realtime_quotes('600699') 
df.head(100)

0.6.9

,name,open,pre_close,price,high,low,bid,ask,volume,amount,...,a2_p,a3_v,a3_p,a4_v,a4_p,a5_v,a5_p,date,time,code
0,均胜电子,32.910,32.910,32.930,33.150,32.710,32.920,32.930,2269905,74802007.000,...,32.940,18,32.950,28,32.960,1,32.970,2017-03-16,10:27:33,600699

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_rows = 31

In [26]:
s = pd.Series([1,3,5,np.nan,6,8])
s

In [29]:
dates = pd.date_range('2017-01-01',periods=6)
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2017-01-01  0.141875 -0.186134 -1.202726  0.917305
2017-01-02 -1.271540  0.280453  1.197861  1.033238
2017-01-03  1.140879  1.288759  1.898787 -0.013606
2017-01-04  0.501356  1.127302 -0.140221 -0.311686
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514
2017-01-06  1.062454  2.742918 -0.241513 -0.650223

In [31]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:            'B' : pd.Timestamp('20130102'),
   ....:            'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:            'D' : np.array([3] * 4,dtype='int32'),
   ....:            'E' : pd.Categorical(["test","train","test","train"]),
   ....:            'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [32]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [42]:
df2

<bound method DataFrame.clip_upper of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [47]:
df.head()

                   A         B         C         D
2017-01-01  0.141875 -0.186134 -1.202726  0.917305
2017-01-02 -1.271540  0.280453  1.197861  1.033238
2017-01-03  1.140879  1.288759  1.898787 -0.013606
2017-01-04  0.501356  1.127302 -0.140221 -0.311686
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514

In [48]:
df.index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [49]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [50]:
df.values

array([[ 0.14187537, -0.1861338 , -1.20272616,  0.91730478],
       [-1.27153965,  0.28045253,  1.19786094,  1.03323784],
       [ 1.14087945,  1.2887594 ,  1.8987868 , -0.01360555],
       [ 0.50135625,  1.12730179, -0.14022095, -0.31168592],
       [-0.82081753, -0.10786288, -1.64074652, -0.14251366],
       [ 1.0624542 ,  2.7429183 , -0.2415132 , -0.65022332]])

In [51]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.125701  0.857573 -0.021427  0.138752
std    0.989712  1.110645  1.360448  0.683220
min   -1.271540 -0.186134 -1.640747 -0.650223
25%   -0.580144 -0.010784 -0.962423 -0.269393
50%    0.321616  0.703877 -0.190867 -0.078060
75%    0.922180  1.248395  0.863340  0.684577
max    1.140879  2.742918  1.898787  1.033238

In [52]:
df.T

   2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
A    0.141875   -1.271540    1.140879    0.501356   -0.820818    1.062454
B   -0.186134    0.280453    1.288759    1.127302   -0.107863    2.742918
C   -1.202726    1.197861    1.898787   -0.140221   -1.640747   -0.241513
D    0.917305    1.033238   -0.013606   -0.311686   -0.142514   -0.650223

In [55]:
df.sort(columns='B')

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

                   A         B         C         D
2017-01-01  0.141875 -0.186134 -1.202726  0.917305
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514
2017-01-02 -1.271540  0.280453  1.197861  1.033238
2017-01-04  0.501356  1.127302 -0.140221 -0.311686
2017-01-03  1.140879  1.288759  1.898787 -0.013606
2017-01-06  1.062454  2.742918 -0.241513 -0.650223

In [56]:
df.A

2017-01-01    0.141875
2017-01-02   -1.271540
2017-01-03    1.140879
2017-01-04    0.501356
2017-01-05   -0.820818
2017-01-06    1.062454
Freq: D, Name: A, dtype: float64

In [57]:
df['A']

2017-01-01    0.141875
2017-01-02   -1.271540
2017-01-03    1.140879
2017-01-04    0.501356
2017-01-05   -0.820818
2017-01-06    1.062454
Freq: D, Name: A, dtype: float64

In [58]:
df[:3]

                   A         B         C         D
2017-01-01  0.141875 -0.186134 -1.202726  0.917305
2017-01-02 -1.271540  0.280453  1.197861  1.033238
2017-01-03  1.140879  1.288759  1.898787 -0.013606

In [59]:
df['2017-1-4':'2017-1-6']

                   A         B         C         D
2017-01-04  0.501356  1.127302 -0.140221 -0.311686
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514
2017-01-06  1.062454  2.742918 -0.241513 -0.650223

In [60]:
df.loc[dates[0]]

A    0.141875
B   -0.186134
C   -1.202726
D    0.917305
Name: 2017-01-01 00:00:00, dtype: float64

In [61]:
df.loc[:,['A','B']]

                   A         B
2017-01-01  0.141875 -0.186134
2017-01-02 -1.271540  0.280453
2017-01-03  1.140879  1.288759
2017-01-04  0.501356  1.127302
2017-01-05 -0.820818 -0.107863
2017-01-06  1.062454  2.742918

In [62]:
df.loc['2017-1-4','A':'C']

A    0.501356
B    1.127302
C   -0.140221
Name: 2017-01-04 00:00:00, dtype: float64

In [63]:
df.loc[dates[0],'A']

0.14187536765996925

In [64]:
df.iloc[3]

A    0.501356
B    1.127302
C   -0.140221
D   -0.311686
Name: 2017-01-04 00:00:00, dtype: float64

In [65]:
df.iloc[3:5,0:2]

                   A         B
2017-01-04  0.501356  1.127302
2017-01-05 -0.820818 -0.107863

In [66]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2017-01-02 -1.271540  1.197861
2017-01-03  1.140879  1.898787
2017-01-05 -0.820818 -1.640747

In [67]:
df.iloc[1:3,:]

                   A         B         C         D
2017-01-02 -1.271540  0.280453  1.197861  1.033238
2017-01-03  1.140879  1.288759  1.898787 -0.013606

In [68]:
df.iloc[1,1]

0.28045252809370458

In [69]:
df[df.A>0]

                   A         B         C         D
2017-01-01  0.141875 -0.186134 -1.202726  0.917305
2017-01-03  1.140879  1.288759  1.898787 -0.013606
2017-01-04  0.501356  1.127302 -0.140221 -0.311686
2017-01-06  1.062454  2.742918 -0.241513 -0.650223

In [70]:
df[df>0]

                   A         B         C         D
2017-01-01  0.141875       NaN       NaN  0.917305
2017-01-02       NaN  0.280453  1.197861  1.033238
2017-01-03  1.140879  1.288759  1.898787       NaN
2017-01-04  0.501356  1.127302       NaN       NaN
2017-01-05       NaN       NaN       NaN       NaN
2017-01-06  1.062454  2.742918       NaN       NaN

In [71]:
df2 = df.copy()

In [72]:
df2

                   A         B         C         D
2017-01-01  0.141875 -0.186134 -1.202726  0.917305
2017-01-02 -1.271540  0.280453  1.197861  1.033238
2017-01-03  1.140879  1.288759  1.898787 -0.013606
2017-01-04  0.501356  1.127302 -0.140221 -0.311686
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514
2017-01-06  1.062454  2.742918 -0.241513 -0.650223

In [74]:
df2['E']=['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2017-01-01  0.141875 -0.186134 -1.202726  0.917305    one
2017-01-02 -1.271540  0.280453  1.197861  1.033238    one
2017-01-03  1.140879  1.288759  1.898787 -0.013606    two
2017-01-04  0.501356  1.127302 -0.140221 -0.311686  three
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514   four
2017-01-06  1.062454  2.742918 -0.241513 -0.650223  three

In [75]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2017-01-03  1.140879  1.288759  1.898787 -0.013606   two
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514  four

In [77]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('2017-1-2',periods=6))
s1

2017-01-02    1
2017-01-03    2
2017-01-04    3
2017-01-05    4
2017-01-06    5
2017-01-07    6
Freq: D, dtype: int64

In [79]:
df['F']=s1
df

                   A         B         C         D    F
2017-01-01  0.141875 -0.186134 -1.202726  0.917305  NaN
2017-01-02 -1.271540  0.280453  1.197861  1.033238  1.0
2017-01-03  1.140879  1.288759  1.898787 -0.013606  2.0
2017-01-04  0.501356  1.127302 -0.140221 -0.311686  3.0
2017-01-05 -0.820818 -0.107863 -1.640747 -0.142514  4.0
2017-01-06  1.062454  2.742918 -0.241513 -0.650223  5.0

In [80]:
df.at[dates[0],'A']=0

In [81]:
df.iat[0,1]=0

In [83]:
df.loc[:,'D']=np.array([5]*len(df))

In [84]:
df

                   A         B         C  D    F
2017-01-01  0.000000  0.000000 -1.202726  5  NaN
2017-01-02 -1.271540  0.280453  1.197861  5  1.0
2017-01-03  1.140879  1.288759  1.898787  5  2.0
2017-01-04  0.501356  1.127302 -0.140221  5  3.0
2017-01-05 -0.820818 -0.107863 -1.640747  5  4.0
2017-01-06  1.062454  2.742918 -0.241513  5  5.0

In [87]:
df2 = df.copy()
df2[df2>0]=-df2
df2

                   A         B         C  D    F
2017-01-01  0.000000  0.000000 -1.202726 -5  NaN
2017-01-02 -1.271540 -0.280453 -1.197861 -5 -1.0
2017-01-03 -1.140879 -1.288759 -1.898787 -5 -2.0
2017-01-04 -0.501356 -1.127302 -0.140221 -5 -3.0
2017-01-05 -0.820818 -0.107863 -1.640747 -5 -4.0
2017-01-06 -1.062454 -2.742918 -0.241513 -5 -5.0

In [88]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])
df1.loc[dates[0]:dates[1],'E']=1
df1

                   A         B         C  D    F    E
2017-01-01  0.000000  0.000000 -1.202726  5  NaN  1.0
2017-01-02 -1.271540  0.280453  1.197861  5  1.0  1.0
2017-01-03  1.140879  1.288759  1.898787  5  2.0  NaN
2017-01-04  0.501356  1.127302 -0.140221  5  3.0  NaN

In [89]:
df1.dropna(how='any')

                  A         B         C  D    F    E
2017-01-02 -1.27154  0.280453  1.197861  5  1.0  1.0

In [90]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2017-01-01  0.000000  0.000000 -1.202726  5  5.0  1.0
2017-01-02 -1.271540  0.280453  1.197861  5  1.0  1.0
2017-01-03  1.140879  1.288759  1.898787  5  2.0  5.0
2017-01-04  0.501356  1.127302 -0.140221  5  3.0  5.0

In [91]:
pd.isnull(df1)

                A      B      C      D      F      E
2017-01-01  False  False  False  False   True  False
2017-01-02  False  False  False  False  False  False
2017-01-03  False  False  False  False  False   True
2017-01-04  False  False  False  False  False   True

In [92]:
df

                   A         B         C  D    F
2017-01-01  0.000000  0.000000 -1.202726  5  NaN
2017-01-02 -1.271540  0.280453  1.197861  5  1.0
2017-01-03  1.140879  1.288759  1.898787  5  2.0
2017-01-04  0.501356  1.127302 -0.140221  5  3.0
2017-01-05 -0.820818 -0.107863 -1.640747  5  4.0
2017-01-06  1.062454  2.742918 -0.241513  5  5.0

In [93]:
df.mean()  #列计算

A    0.102055
B    0.888595
C   -0.021427
D    5.000000
F    3.000000
dtype: float64

In [94]:
df.mean(1)   #行计算

2017-01-01    0.949318
2017-01-02    1.241355
2017-01-03    2.265685
2017-01-04    1.897687
2017-01-05    1.286115
2017-01-06    2.712772
Freq: D, dtype: float64

In [96]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates)
s

2017-01-01    1.0
2017-01-02    3.0
2017-01-03    5.0
2017-01-04    NaN
2017-01-05    6.0
2017-01-06    8.0
Freq: D, dtype: float64

In [103]:
s = pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)
s

2017-01-01    NaN
2017-01-02    NaN
2017-01-03    1.0
2017-01-04    3.0
2017-01-05    5.0
2017-01-06    NaN
Freq: D, dtype: float64

In [104]:
df.sub(s,axis='index')

                   A         B         C    D    F
2017-01-01       NaN       NaN       NaN  NaN  NaN
2017-01-02       NaN       NaN       NaN  NaN  NaN
2017-01-03  0.140879  0.288759  0.898787  4.0  1.0
2017-01-04 -2.498644 -1.872698 -3.140221  2.0  0.0
2017-01-05 -5.820818 -5.107863 -6.640747  0.0 -1.0
2017-01-06       NaN       NaN       NaN  NaN  NaN

In [100]:
df

                   A         B         C  D    F
2017-01-01  0.000000  0.000000 -1.202726  5  NaN
2017-01-02 -1.271540  0.280453  1.197861  5  1.0
2017-01-03  1.140879  1.288759  1.898787  5  2.0
2017-01-04  0.501356  1.127302 -0.140221  5  3.0
2017-01-05 -0.820818 -0.107863 -1.640747  5  4.0
2017-01-06  1.062454  2.742918 -0.241513  5  5.0

In [105]:
df.apply(np.cumsum)

                   A         B         C   D     F
2017-01-01  0.000000  0.000000 -1.202726   5   NaN
2017-01-02 -1.271540  0.280453 -0.004865  10   1.0
2017-01-03 -0.130660  1.569212  1.893922  15   3.0
2017-01-04  0.370696  2.696514  1.753701  20   6.0
2017-01-05 -0.450121  2.588651  0.112954  25  10.0
2017-01-06  0.612333  5.331569 -0.128559  30  15.0

In [106]:
df.apply(lambda x:x.max()-x.min())

A    2.412419
B    2.850781
C    3.539533
D    0.000000
F    4.000000
dtype: float64

In [110]:
s = pd.Series(np.random.randint(0,7,size=10))
s

0    4
1    6
2    4
3    4
4    4
5    0
6    6
7    5
8    4
9    0
dtype: int32

In [111]:
s.value_counts()

4    5
6    2
0    2
5    1
dtype: int64

In [112]:
s = pd.Series(['A','B','C','Aaba','Baca',np.nan,'CABA','dog','cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [115]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.452598  0.364967  0.229573 -0.634468
1  0.444172  0.815908 -0.534649 -0.478415
2  1.275837 -1.605631 -0.096091 -2.174951
3  0.601547  1.091244 -2.220118 -0.820645
4 -0.571228  0.593250  0.494492 -0.875621
5 -0.035735  0.207319 -0.278559 -0.151987
6 -0.961368  1.029283  0.979439 -0.740459
7 -1.919528 -0.388572 -0.555883  0.393560
8 -2.424979 -0.167209 -1.020461 -1.330224
9 -1.080588 -1.455156  0.955104 -0.246351

In [118]:
pieces = [df[:3],df[3:7],df[7:]]
#pd.concat(pieces)
pieces

[          0         1         2         3
 0  0.452598  0.364967  0.229573 -0.634468
 1  0.444172  0.815908 -0.534649 -0.478415
 2  1.275837 -1.605631 -0.096091 -2.174951,
           0         1         2         3
 3  0.601547  1.091244 -2.220118 -0.820645
 4 -0.571228  0.593250  0.494492 -0.875621
 5 -0.035735  0.207319 -0.278559 -0.151987
 6 -0.961368  1.029283  0.979439 -0.740459,
           0         1         2         3
 7 -1.919528 -0.388572 -0.555883  0.393560
 8 -2.424979 -0.167209 -1.020461 -1.330224
 9 -1.080588 -1.455156  0.955104 -0.246351]

In [119]:
left = pd.DataFrame({'key':['foo','foo'],'lval':[1,2]})
right = pd.DataFrame({'key':['foo','foo'],'rval':[4,5]})

In [120]:
left

   key  lval
0  foo     1
1  foo     2

In [121]:
right

   key  rval
0  foo     4
1  foo     5

In [122]:
pd.merge(left,right,on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [123]:
df = pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])
df

          A         B         C         D
0  1.627787  0.306648 -1.680572  0.135694
1 -0.306991 -0.055182 -0.450157 -0.900281
2  0.015094  0.542294 -0.607307  0.832504
3  1.232221  0.212639  1.141851  0.377730
4  0.442181  1.151350  0.226402  0.926212
5  0.686410 -0.454012 -1.253519 -2.107335
6  0.198027  1.802231  1.777635  2.473470
7 -0.249379  0.059883  1.043686 -2.702510

In [124]:
s = df.iloc[3]
df.append(s,ignore_index=True)

          A         B         C         D
0  1.627787  0.306648 -1.680572  0.135694
1 -0.306991 -0.055182 -0.450157 -0.900281
2  0.015094  0.542294 -0.607307  0.832504
3  1.232221  0.212639  1.141851  0.377730
4  0.442181  1.151350  0.226402  0.926212
5  0.686410 -0.454012 -1.253519 -2.107335
6  0.198027  1.802231  1.777635  2.473470
7 -0.249379  0.059883  1.043686 -2.702510
8  1.232221  0.212639  1.141851  0.377730

In [128]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ....:                          'foo', 'bar', 'foo', 'foo'],
   ....:                    'B' : ['one', 'one', 'two', 'three',
   ....:                          'two', 'two', 'one', 'three'],
   ....:                    'C' : np.random.randn(8),
   ....:                    'D' : np.random.randn(8)})
   ....: 
        
df

     A      B         C         D
0  foo    one -0.371796 -0.804834
1  bar    one -0.499139  2.406104
2  foo    two  0.518532 -0.582515
3  bar  three -0.543646 -0.051069
4  foo    two -0.109068 -1.467229
5  bar    two  1.054670  1.093431
6  foo    one -0.482426 -0.240647
7  foo  three  0.250914 -0.464206

In [129]:
df.groupby('A').sum()

            C         D
A
bar  0.011886  3.448465
foo -0.193845 -3.559429

In [130]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.499139  2.406104
    three -0.543646 -0.051069
    two    1.054670  1.093431
foo one   -0.854222 -1.045480
    three  0.250914 -0.464206
    two    0.409464 -2.049743

In [137]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
   ....:                      'foo', 'foo', 'qux', 'qux'],
   ....:                     ['one', 'two', 'one', 'two',
   ....:                      'one', 'two', 'one', 'two']]))
   ....: 
        
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df2 = df[:4]

df2
#tuples
#index
#df

                     A         B
first second
bar   one    -1.354060 -0.113640
      two    -0.910338  1.216189
baz   one    -0.077088 -1.192184
      two    -1.214990 -0.764706

In [139]:
stacked = df2.stack()
stacked

first  second
bar    one     A   -1.354060
               B   -0.113640
       two     A   -0.910338
               B    1.216189
baz    one     A   -0.077088
               B   -1.192184
       two     A   -1.214990
               B   -0.764706
dtype: float64

In [140]:
stacked.unstack()

                     A         B
first second
bar   one    -1.354060 -0.113640
      two    -0.910338  1.216189
baz   one    -0.077088 -1.192184
      two    -1.214990 -0.764706

In [141]:
stacked.unstack(1)

second        one       two
first
bar   A -1.354060 -0.910338
      B -0.113640  1.216189
baz   A -0.077088 -1.214990
      B -1.192184 -0.764706

In [142]:
stacked.unstack(0)

first          bar       baz
second
one    A -1.354060 -0.077088
       B -0.113640 -1.192184
two    A -0.910338 -1.214990
       B  1.216189 -0.764706

In [143]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
   .....:                    'B' : ['A', 'B', 'C'] * 4,
   .....:                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
   .....:                    'D' : np.random.randn(12),
   .....:                    'E' : np.random.randn(12)})
   .....: 
        
df

        A  B    C         D         E
0     one  A  foo  1.369642  0.778114
1     one  B  foo -0.074556  0.470411
2     two  C  foo -0.699941 -0.610237
3   three  A  bar -0.121489  0.589179
4     one  B  bar  2.605352 -0.840585
5     one  C  bar  1.865011 -0.209224
6     two  A  foo  0.455946  0.363921
7   three  B  foo  1.449477 -2.031900
8     one  C  foo -1.304172  0.350388
9     one  A  bar  1.154641  0.824944
10    two  B  bar  0.770878  0.666223
11  three  C  bar  0.693731  0.269486

In [144]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  1.154641  1.369642
      B  2.605352 -0.074556
      C  1.865011 -1.304172
three A -0.121489       NaN
      B       NaN  1.449477
      C  0.693731       NaN
two   A       NaN  0.455946
      B  0.770878       NaN
      C       NaN -0.699941

In [146]:
rng = pd.date_range('1/1/2017',periods=100,freq='S')
ts = pd.Series(np.random.randint(0,500,len(rng)),index=rng)
ts.resample('5Min',how='sum')

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  app.launch_new_instance()

2017-01-01    25542
Freq: 5T, dtype: int32

In [147]:
ts

2017-01-01 00:00:00    328
2017-01-01 00:00:01     94
2017-01-01 00:00:02    326
2017-01-01 00:00:03    162
2017-01-01 00:00:04    123
2017-01-01 00:00:05    199
2017-01-01 00:00:06    123
2017-01-01 00:00:07    326
2017-01-01 00:00:08    231
2017-01-01 00:00:09    288
2017-01-01 00:00:10    418
2017-01-01 00:00:11    160
2017-01-01 00:00:12    186
2017-01-01 00:00:13    312
2017-01-01 00:00:14     95
                      ...
2017-01-01 00:01:25    440
2017-01-01 00:01:26    311
2017-01-01 00:01:27    456
2017-01-01 00:01:28    107
2017-01-01 00:01:29     12
2017-01-01 00:01:30    193
2017-01-01 00:01:31     65
2017-01-01 00:01:32    337
2017-01-01 00:01:33    219
2017-01-01 00:01:34    455
2017-01-01 00:01:35    145
2017-01-01 00:01:36     83
2017-01-01 00:01:37    347
2017-01-01 00:01:38    269
2017-01-01 00:01:39    199
Freq: S, dtype: int32

In [148]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
 
ts = pd.Series(np.random.randn(len(rng)), rng)

ts

2012-03-06   -0.145422
2012-03-07   -0.600426
2012-03-08   -1.609605
2012-03-09    0.041944
2012-03-10   -0.941630
Freq: D, dtype: float64

In [149]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-06 00:00:00+00:00   -0.145422
2012-03-07 00:00:00+00:00   -0.600426
2012-03-08 00:00:00+00:00   -1.609605
2012-03-09 00:00:00+00:00    0.041944
2012-03-10 00:00:00+00:00   -0.941630
Freq: D, dtype: float64

In [150]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00   -0.145422
2012-03-06 19:00:00-05:00   -0.600426
2012-03-07 19:00:00-05:00   -1.609605
2012-03-08 19:00:00-05:00    0.041944
2012-03-09 19:00:00-05:00   -0.941630
Freq: D, dtype: float64

In [151]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2012-01-31   -0.905013
2012-02-29    1.719110
2012-03-31   -0.079926
2012-04-30    0.456359
2012-05-31    1.130375
Freq: M, dtype: float64

In [153]:
ps = ts.to_period()
ps

2012-01   -0.905013
2012-02    1.719110
2012-03   -0.079926
2012-04    0.456359
2012-05    1.130375
Freq: M, dtype: float64

In [154]:
ps.to_timestamp()

2012-01-01   -0.905013
2012-02-01    1.719110
2012-03-01   -0.079926
2012-04-01    0.456359
2012-05-01    1.130375
Freq: MS, dtype: float64

In [156]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

ts = ts.cumsum()

ts.plot()